* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 , h2 {
    font-family: IBMPlexSans, Arial, Helvetica, sans-serif;
}
label {
    font-family: IBMPlexSans-SemiBold, Arial, Helvetica, sans-serif;
}
p {
    font-family: IBMPlexMono, Arial, Helvetica, sans-serif;
}